
/* Container of whole application */
.container {
  width: auto;
  height: 100%;
  overflow-y: scroll;
}

/* Title of challenge - REDSKY CODING CHALLENGE */
.title {
  margin: 0;
  width: 650px;
  margin-left: 184px;
  margin-top: 164px;
  border-radius: nullpx;
  color: #081430;
}

.title-break {
  height: 0px;
  width: 1072px;
  margin-left: 184px;
  margin-right: 184px;
  margin-top: 8px;
  border-radius: nullpx;
  border: 1px solid #D3D3D3;
}

.create-new-user-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  padding: 10px 18px;

  height: 36px;
  width: 226px;
  margin-left: 980px;
  margin-bottom: 23px;
  margin-top: 40px;
  border-radius: 0px;
  padding: 10px, 18px, 10px, 18px;
  border: none;
  /* White */

  color: #ffffff;

  /* Red */

  background: #dd013f;
}


.user-list-container {
  z-index: 100;
  height: 100%;
  width: 973px;
  margin-left: 234px;
  right: 234px;
  /* Red */

  border: 1px solid #dd013f;
  box-sizing: border-box;
}


.user-list-title {
  margin: 0;
  right: 234px;
  padding-left: 16px;

  width: 972px;
  height: 48px;

  /* title box */
  box-sizing: border-box;
  border-radius: 0px;
  background: #dd013f;

  /* text color */
  color: white;
  text-align: left;
}

.user {
  z-index: -100;
  height: 56px;
  width: 973px;

  /* user border */
  border: 1px solid #d3d3d3;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-list-fields {
  z-index: -10;
  height: 100%;
  width: 973px;
  right: 234px;

  border: 1px solid #d3d3d3;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  margin: 0;
  margin-left: 32px;
  width: 40px;
  height: 40px;
}

.avatar-header {
  position: relative;
  margin: 0;
  padding: 0;
  left: 16px;
}

.first-name {
  margin: 0;
  width: 115px;
  height: 20px;
  margin-left: 40px;
}

.first-name-header {
  margin: 0;
  width: 115px;
  height: 20px;
  margin-left: 40px;
}

.last-name {
  margin: 0;
  width: 115px;
  height: 20px;
  margin-left: 40px;
}

.last-name-header {
  margin: 0;
  width: 115px;
  height: 20px;
  margin-left: 40px;
}

.email {
  margin: 0;
  padding: 0;
  width: 286px;
  height: 20px;
  margin-left: 40px;
}

.email-header {
  width: 286px;
  height: 20px;
  margin-left: 40px;
}

.button-edit {
  margin: 0;
  width: 62px;
  height: 36px;
  margin-left: 69px;

  background: #dd013f;
  border: none;

  color: #ffffff;
}

.button-delete {
  margin: 0;
  width: 92px;
  height: 36px;
  margin-left: 24px;
  margin-right: -16;

  background: #dd013f;
  border: none;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.modal {
  z-index: 500;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(8, 20, 48, 0.6);
}

.modal-content {
  height: 563px;
  width: 672px;
  margin-left: 384px;
  margin-top: 350px;
  border-radius: 0px;
  background-color: #ffffff;
}

.modal-header {
  box-sizing: border-box;
  width: 672px;
  height: 77px;
  border-radius: 0px;
  padding: 10px;

  display: flex;
  justify-content: left;
  align-items: center;

  color: white;
  text-align: left;
  text-transform: uppercase;

  background: #dd013f;
}

.modal-header-title {
  margin: 0;
  left: 24px;
  top: 24px;

  height: 29px;
  width: 243px;

  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}

.modal-body {
  margin-left: 24px;
  margin-right: 24px;

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-title-first {
  margin: 0;
  margin-top: 24px;
  margin-left: 24px;

  height: 20px;
  width: 115px;
}

.modal-title-last {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-left: 24px;

  height: 20px;
  width: 115px;
}

.modal-title-email {
  margin: 0;
  margin-top: 24px;
  margin-left: 24px;

  height: 20px;
  width: 115px;
}

.modal-title-avatar {
  margin: 0;
  margin-top: 24px;
  margin-left: 24px;

  width: 192px;
  height: 20px;
}

.modal-input {
  margin: 0;
  margin-left: 24px;
  left: 0px;
  top: 26px;

  height: 36px;
  width: 624px;

  border-radius: 0px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
}

.modal-footer {
  margin-top: 82px;
  padding-right: 24px;

  width: 672px;
  height: 77px;

  box-sizing: border-box;

  display: flex;
  justify-content: right;
  align-items: center;

  color: white;
  text-align: left;
  text-transform: uppercase;
}

.submit-btn {
  height: 36px;
  width: 138px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #dd013f;
  border: none;

  color: #ffffff;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.cancel-btn {
  margin: 0;
  margin-right: 10px;
  padding-right: 10px;

  width: 138px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  border: none;

  border: 2px solid #dd013f;
  box-sizing: border-box;

  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #dd013f;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
